In [141]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time 
import pandas as pd
from sqlalchemy import create_engine

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [/Users/xanderpolny1/.wdm/drivers/chromedriver/mac64/100.0.4896.60/chromedriver] found in cache

In [34]:
url = 'https://www.rottentomatoes.com/browse/dvd-streaming-all?minTomato=0&maxTomato=100&services=amazon;hbo_go;itunes;netflix_iw;vudu;amazon_prime;fandango_now&genres=1;2;4;5;6;8;9;10;11;13;18;14&sortBy=release'
browser.visit(url)

In [35]:
show_more_button = browser.find_by_xpath('//*[@id="show-more-btn"]/button')

In [36]:
for i in range(600):
    try: 
        browser.find_by_xpath('//*[@id="show-more-btn"]/button').click()
    except:
        pass
    time.sleep(1)
    print(i)
   # else:
       # print(i)
        #pass
#         time.sleep(1)
#     except Exception:
#         print (i)
#         pass

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600

In [37]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [38]:
movie_list = soup.find_all("div",class_="mb-movie")

In [39]:
len (movie_list)

9547

In [40]:
movie_list[0].find("h3",class_="movieTitle").text

'The Second'

In [41]:
movie_list[0].find("span",class_="tMeterScore").text

'63%'

In [42]:
movie_list[0]

<div class="mb-movie"><div class="poster_container"><a href="/m/the_second" rel="noopener noreferrer" target="_blank"><img alt="The Second" class="poster" src="https://resizing.flixster.com/PvkrOyFwovCkuiMbq99br4X15sQ=/130x0/v1.bTsxNDAwNTcwMTtqOzE5MTUyOzEyMDA7MjAyNTszMDAw"/></a></div><div class="movie_info"><a href="/m/the_second" rel="noopener noreferrer" target="_blank"><h3 class="movieTitle">The Second</h3><div><span class="tMeterIcon tiny"><span class="icon tiny fresh"></span><!-- react-text: 238 --> <!-- /react-text --><span class="tMeterScore"><!-- react-text: 240 -->63<!-- /react-text --><!-- react-text: 241 -->%<!-- /react-text --></span></span></div><p class="release-date"><!-- react-text: 243 -->Available <!-- /react-text --><!-- react-text: 244 -->Dec 3<!-- /react-text --></p></a></div></div>

In [43]:
movie_list[0].find("p",class_="release-date").text

'Available Dec 3'

In [44]:
movie_list[0].find("a")["href"]

'/m/the_second'

In [83]:
title = []
score = []
month_day = []
for movie in movie_list:
    title.append(movie.find("h3",class_="movieTitle").text)
    score.append(movie.find("span",class_="tMeterScore").text)
    month_day.append(movie.find("p",class_="release-date").text)

In [84]:
browser.close()
data={
    "Title":title,
    "Score":score,
    "Month_Day":month_day,
}
movies_df=pd.DataFrame(data)

In [85]:
movies_df

                          Title Score         Month_Day
0                    The Second   63%   Available Dec 3
1                          Hurt   67%  Available Dec 10
2                     Benedetta   86%  Available Dec 21
3                    Last Words   40%  Available Dec 17
4               Maybe This Year   78%   Available Dec 7
...                         ...   ...               ...
9542          Remember the Daze    0%   Available Jun 3
9543     Heavy Metal in Baghdad   83%  Available Jun 10
9544  Hitler: The Last Ten Days   43%   Available Jun 3
9545          Some Kind of Hero   40%   Available Jun 3
9546           The One and Only   60%   Available Jun 3

[9547 rows x 3 columns]

In [86]:
movies_df["Score"] = movies_df["Score"].str.replace("%","")
movies_df["Month_Day"] = movies_df["Month_Day"].str.replace("Available","")

In [87]:
movies_df.head()

             Title Score Month_Day
0       The Second    63     Dec 3
1             Hurt    67    Dec 10
2        Benedetta    86    Dec 21
3       Last Words    40    Dec 17
4  Maybe This Year    78     Dec 7

In [115]:
netflix_file = "/Users/xanderpolny1/Documents/netflix_titles-2.csv"

netflix_pd = pd.read_csv(netflix_file,encoding="ISO-8859-1")
netflix_pd.head()

netflix_pd=netflix_pd.rename(columns={"Title ":"Title"})

netflix_pd=netflix_pd.loc[netflix_pd["type"]=="Movie"]

In [116]:
combined_data = pd.merge(movies_df, netflix_pd, on="Title")
combined_data.head(6)

,Title,Score,Month_Day,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Red Snow,75,Dec 28,s702,Movie,Marie Clements,"Asivak Koostachin, Shafin Karim, Mozhdah Jamal...",Canada,17-Jun-21,2019,TV-MA,96 min,Dramas,"Ambushed by the Taliban, a First Nations soldi..."
1,Black Friday,65,Nov 23,s1674,Movie,Anurag Kashyap,"Pavan Malhotra, Kay Kay Menon, Aditya Srivasta...",India,19-Nov-20,2004,TV-MA,162 min,"Dramas, International Movies",This docudrama based on the same-titled book t...
2,Bugs,88,Nov 16,s6388,Movie,Andreas Johnsen,NaN,"Netherlands, Denmark, France, Germany",20-Feb-18,2016,TV-G,73 min,"Documentaries, International Movies",A willing team of chefs and researchers goes o...
3,The Old Ways,95,Oct 12,s230,Movie,Christopher Alender,"Brigitte Kali Canales, Andrea Cortes, Julia Ve...",United States,25-Aug-21,2020,TV-MA,90 min,Horror Movies,A reporter visits her birthplace in Veracruz f...
4,Worth,81,Sep 3,s113,Movie,Sara Colangelo,"Michael Keaton, Stanley Tucci, Amy Ryan, Shuno...",NaN,3-Sep-21,2021,PG-13,119 min,Dramas,"In the wake of the Sept. 11 attacks, a lawyer ..."
5,Really Love,86,Aug 25,s228,Movie,Angel Kristi Williams,"Kofi Siriboe, Yootha Wong-Loi-Sing, Michael Ea...",United States,25-Aug-21,2020,TV-MA,95 min,"Dramas, Independent Movies, Romantic Movies",A rising Black painter tries to break into a c...

In [112]:
netflix_pd.columns

Index(['show_id', 'type', 'Title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [114]:
netflix_pd.type.value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [117]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1299 entries, 0 to 1298
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1299 non-null   object
 1   Score         1299 non-null   object
 2   Month_Day     1299 non-null   object
 3   show_id       1299 non-null   object
 4   type          1299 non-null   object
 5   director      1285 non-null   object
 6   cast          1232 non-null   object
 7   country       1285 non-null   object
 8   date_added    1299 non-null   object
 9   release_year  1299 non-null   int64
 10  rating        1299 non-null   object
 11  duration      1299 non-null   object
 12  listed_in     1299 non-null   object
 13  description   1299 non-null   object
dtypes: int64(1), object(13)
memory usage: 152.2+ KB

In [120]:
combined_data["release_date"]=combined_data["Month_Day"]+" "+combined_data["release_year"].astype(str)

In [121]:
combined_data

,Title,Score,Month_Day,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description,release_date
0,Red Snow,75,Dec 28,s702,Movie,Marie Clements,"Asivak Koostachin, Shafin Karim, Mozhdah Jamal...",Canada,17-Jun-21,2019,TV-MA,96 min,Dramas,"Ambushed by the Taliban, a First Nations soldi...",Dec 28 2019
1,Black Friday,65,Nov 23,s1674,Movie,Anurag Kashyap,"Pavan Malhotra, Kay Kay Menon, Aditya Srivasta...",India,19-Nov-20,2004,TV-MA,162 min,"Dramas, International Movies",This docudrama based on the same-titled book t...,Nov 23 2004
2,Bugs,88,Nov 16,s6388,Movie,Andreas Johnsen,NaN,"Netherlands, Denmark, France, Germany",20-Feb-18,2016,TV-G,73 min,"Documentaries, International Movies",A willing team of chefs and researchers goes o...,Nov 16 2016
3,The Old Ways,95,Oct 12,s230,Movie,Christopher Alender,"Brigitte Kali Canales, Andrea Cortes, Julia Ve...",United States,25-Aug-21,2020,TV-MA,90 min,Horror Movies,A reporter visits her birthplace in Veracruz f...,Oct 12 2020
4,Worth,81,Sep 3,s113,Movie,Sara Colangelo,"Michael Keaton, Stanley Tucci, Amy Ryan, Shuno...",NaN,3-Sep-21,2021,PG-13,119 min,Dramas,"In the wake of the Sept. 11 attacks, a lawyer ...",Sep 3 2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,Vantage Point,34,Jul 1,s8671,Movie,Pete Travis,"Dennis Quaid, Matthew Fox, Forest Whitaker, Br...",United States,1-Nov-19,2008,PG-13,90 min,Action & Adventure,Moments after he arrives in Spain for an antit...,Jul 1 2008
1295,The Bucket List,41,Jun 10,s8230,Movie,Rob Reiner,"Jack Nicholson, Morgan Freeman, Sean Hayes, Be...",United States,1-Oct-19,2007,PG-13,97 min,"Comedies, Dramas",Two terminally ill men bust out of the cancer ...,Jun 10 2007
1296,Welcome Home Roscoe Jenkins,23,Jun 17,s183,Movie,Malcolm D. Lee,"Martin Lawrence, James Earl Jones, Joy Bryant,...",United States,1-Sep-21,2008,PG-13,114 min,Comedies,R.J. travels to Georgia for his parents' 50th ...,Jun 17 2008
1297,Mama's Boy,8,Jun 3,s2248,Movie,Amro Salah,"Hesham Maged, Shikoo, Mohammed Tharwat, Mahmou...",Egypt,10-Jul-20,2018,TV-14,101 min,"Comedies, International Movies",A man undergoes a heart transplant following a...,Jun 3 2018
1298,The Take,85,May 27,s1998,Movie,James Watkins,"Idris Elba, Richard Madden, Charlotte Le Bon, ...","United Kingdom, France, United States, Belgium...",16-Sep-20,2016,R,92 min,"Action & Adventure, International Movies","After a mix-up lands him in hot water, a skill...",May 27 2016

In [122]:
combined_data = combined_data.drop(columns=["Month_Day","release_year"])
combined_data

,Title,Score,show_id,type,director,cast,country,date_added,rating,duration,listed_in,description,release_date
0,Red Snow,75,s702,Movie,Marie Clements,"Asivak Koostachin, Shafin Karim, Mozhdah Jamal...",Canada,17-Jun-21,TV-MA,96 min,Dramas,"Ambushed by the Taliban, a First Nations soldi...",Dec 28 2019
1,Black Friday,65,s1674,Movie,Anurag Kashyap,"Pavan Malhotra, Kay Kay Menon, Aditya Srivasta...",India,19-Nov-20,TV-MA,162 min,"Dramas, International Movies",This docudrama based on the same-titled book t...,Nov 23 2004
2,Bugs,88,s6388,Movie,Andreas Johnsen,NaN,"Netherlands, Denmark, France, Germany",20-Feb-18,TV-G,73 min,"Documentaries, International Movies",A willing team of chefs and researchers goes o...,Nov 16 2016
3,The Old Ways,95,s230,Movie,Christopher Alender,"Brigitte Kali Canales, Andrea Cortes, Julia Ve...",United States,25-Aug-21,TV-MA,90 min,Horror Movies,A reporter visits her birthplace in Veracruz f...,Oct 12 2020
4,Worth,81,s113,Movie,Sara Colangelo,"Michael Keaton, Stanley Tucci, Amy Ryan, Shuno...",NaN,3-Sep-21,PG-13,119 min,Dramas,"In the wake of the Sept. 11 attacks, a lawyer ...",Sep 3 2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,Vantage Point,34,s8671,Movie,Pete Travis,"Dennis Quaid, Matthew Fox, Forest Whitaker, Br...",United States,1-Nov-19,PG-13,90 min,Action & Adventure,Moments after he arrives in Spain for an antit...,Jul 1 2008
1295,The Bucket List,41,s8230,Movie,Rob Reiner,"Jack Nicholson, Morgan Freeman, Sean Hayes, Be...",United States,1-Oct-19,PG-13,97 min,"Comedies, Dramas",Two terminally ill men bust out of the cancer ...,Jun 10 2007
1296,Welcome Home Roscoe Jenkins,23,s183,Movie,Malcolm D. Lee,"Martin Lawrence, James Earl Jones, Joy Bryant,...",United States,1-Sep-21,PG-13,114 min,Comedies,R.J. travels to Georgia for his parents' 50th ...,Jun 17 2008
1297,Mama's Boy,8,s2248,Movie,Amro Salah,"Hesham Maged, Shikoo, Mohammed Tharwat, Mahmou...",Egypt,10-Jul-20,TV-14,101 min,"Comedies, International Movies",A man undergoes a heart transplant following a...,Jun 3 2018
1298,The Take,85,s1998,Movie,James Watkins,"Idris Elba, Richard Madden, Charlotte Le Bon, ...","United Kingdom, France, United States, Belgium...",16-Sep-20,R,92 min,"Action & Adventure, International Movies","After a mix-up lands him in hot water, a skill...",May 27 2016

In [123]:
combined_data["duration"] = combined_data["duration"].str.replace("min","")

In [124]:
combined_data

,Title,Score,show_id,type,director,cast,country,date_added,rating,duration,listed_in,description,release_date
0,Red Snow,75,s702,Movie,Marie Clements,"Asivak Koostachin, Shafin Karim, Mozhdah Jamal...",Canada,17-Jun-21,TV-MA,96,Dramas,"Ambushed by the Taliban, a First Nations soldi...",Dec 28 2019
1,Black Friday,65,s1674,Movie,Anurag Kashyap,"Pavan Malhotra, Kay Kay Menon, Aditya Srivasta...",India,19-Nov-20,TV-MA,162,"Dramas, International Movies",This docudrama based on the same-titled book t...,Nov 23 2004
2,Bugs,88,s6388,Movie,Andreas Johnsen,NaN,"Netherlands, Denmark, France, Germany",20-Feb-18,TV-G,73,"Documentaries, International Movies",A willing team of chefs and researchers goes o...,Nov 16 2016
3,The Old Ways,95,s230,Movie,Christopher Alender,"Brigitte Kali Canales, Andrea Cortes, Julia Ve...",United States,25-Aug-21,TV-MA,90,Horror Movies,A reporter visits her birthplace in Veracruz f...,Oct 12 2020
4,Worth,81,s113,Movie,Sara Colangelo,"Michael Keaton, Stanley Tucci, Amy Ryan, Shuno...",NaN,3-Sep-21,PG-13,119,Dramas,"In the wake of the Sept. 11 attacks, a lawyer ...",Sep 3 2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,Vantage Point,34,s8671,Movie,Pete Travis,"Dennis Quaid, Matthew Fox, Forest Whitaker, Br...",United States,1-Nov-19,PG-13,90,Action & Adventure,Moments after he arrives in Spain for an antit...,Jul 1 2008
1295,The Bucket List,41,s8230,Movie,Rob Reiner,"Jack Nicholson, Morgan Freeman, Sean Hayes, Be...",United States,1-Oct-19,PG-13,97,"Comedies, Dramas",Two terminally ill men bust out of the cancer ...,Jun 10 2007
1296,Welcome Home Roscoe Jenkins,23,s183,Movie,Malcolm D. Lee,"Martin Lawrence, James Earl Jones, Joy Bryant,...",United States,1-Sep-21,PG-13,114,Comedies,R.J. travels to Georgia for his parents' 50th ...,Jun 17 2008
1297,Mama's Boy,8,s2248,Movie,Amro Salah,"Hesham Maged, Shikoo, Mohammed Tharwat, Mahmou...",Egypt,10-Jul-20,TV-14,101,"Comedies, International Movies",A man undergoes a heart transplant following a...,Jun 3 2018
1298,The Take,85,s1998,Movie,James Watkins,"Idris Elba, Richard Madden, Charlotte Le Bon, ...","United Kingdom, France, United States, Belgium...",16-Sep-20,R,92,"Action & Adventure, International Movies","After a mix-up lands him in hot water, a skill...",May 27 2016

In [128]:
combined_data['Score'].astype(str).astype(int)
combined_data['duration'].astype(str).astype(int)

0        96
1       162
2        73
3        90
4       119
       ...
1294     90
1295     97
1296    114
1297    101
1298     92
Name: duration, Length: 1299, dtype: int64

In [129]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1299 entries, 0 to 1298
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1299 non-null   object
 1   Score         1299 non-null   object
 2   show_id       1299 non-null   object
 3   type          1299 non-null   object
 4   director      1285 non-null   object
 5   cast          1232 non-null   object
 6   country       1285 non-null   object
 7   date_added    1299 non-null   object
 8   rating        1299 non-null   object
 9   duration      1299 non-null   object
 10  listed_in     1299 non-null   object
 11  description   1299 non-null   object
 12  release_date  1299 non-null   object
dtypes: object(13)
memory usage: 142.1+ KB

In [138]:
combined_data['Score'] = combined_data['Score'].astype(int)
combined_data['duration'] = combined_data['duration'].astype(int)
combined_data['date_added'] = pd.to_datetime(combined_data['date_added'])
combined_data['release_date'] = pd.to_datetime(combined_data['release_date'])

In [139]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1299 entries, 0 to 1298
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1299 non-null   object
 1   Score         1299 non-null   int64
 2   show_id       1299 non-null   object
 3   type          1299 non-null   object
 4   director      1285 non-null   object
 5   cast          1232 non-null   object
 6   country       1285 non-null   object
 7   date_added    1299 non-null   datetime64[ns]
 8   rating        1299 non-null   object
 9   duration      1299 non-null   int64
 10  listed_in     1299 non-null   object
 11  description   1299 non-null   object
 12  release_date  1299 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 142.1+ KB

In [140]:
combined_data

,Title,Score,show_id,type,director,cast,country,date_added,rating,duration,listed_in,description,release_date
0,Red Snow,75,s702,Movie,Marie Clements,"Asivak Koostachin, Shafin Karim, Mozhdah Jamal...",Canada,2021-06-17,TV-MA,96,Dramas,"Ambushed by the Taliban, a First Nations soldi...",2019-12-28
1,Black Friday,65,s1674,Movie,Anurag Kashyap,"Pavan Malhotra, Kay Kay Menon, Aditya Srivasta...",India,2020-11-19,TV-MA,162,"Dramas, International Movies",This docudrama based on the same-titled book t...,2004-11-23
2,Bugs,88,s6388,Movie,Andreas Johnsen,NaN,"Netherlands, Denmark, France, Germany",2018-02-20,TV-G,73,"Documentaries, International Movies",A willing team of chefs and researchers goes o...,2016-11-16
3,The Old Ways,95,s230,Movie,Christopher Alender,"Brigitte Kali Canales, Andrea Cortes, Julia Ve...",United States,2021-08-25,TV-MA,90,Horror Movies,A reporter visits her birthplace in Veracruz f...,2020-10-12
4,Worth,81,s113,Movie,Sara Colangelo,"Michael Keaton, Stanley Tucci, Amy Ryan, Shuno...",NaN,2021-09-03,PG-13,119,Dramas,"In the wake of the Sept. 11 attacks, a lawyer ...",2021-09-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,Vantage Point,34,s8671,Movie,Pete Travis,"Dennis Quaid, Matthew Fox, Forest Whitaker, Br...",United States,2019-11-01,PG-13,90,Action & Adventure,Moments after he arrives in Spain for an antit...,2008-07-01
1295,The Bucket List,41,s8230,Movie,Rob Reiner,"Jack Nicholson, Morgan Freeman, Sean Hayes, Be...",United States,2019-10-01,PG-13,97,"Comedies, Dramas",Two terminally ill men bust out of the cancer ...,2007-06-10
1296,Welcome Home Roscoe Jenkins,23,s183,Movie,Malcolm D. Lee,"Martin Lawrence, James Earl Jones, Joy Bryant,...",United States,2021-09-01,PG-13,114,Comedies,R.J. travels to Georgia for his parents' 50th ...,2008-06-17
1297,Mama's Boy,8,s2248,Movie,Amro Salah,"Hesham Maged, Shikoo, Mohammed Tharwat, Mahmou...",Egypt,2020-07-10,TV-14,101,"Comedies, International Movies",A man undergoes a heart transplant following a...,2018-06-03
1298,The Take,85,s1998,Movie,James Watkins,"Idris Elba, Richard Madden, Charlotte Le Bon, ...","United Kingdom, France, United States, Belgium...",2020-09-16,R,92,"Action & Adventure, International Movies","After a mix-up lands him in hot water, a skill...",2016-05-27

In [143]:
rds_connection_string = "postgres:postgres@localhost:5432/Boot_Camp_Project_2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [144]:
combined_data.to_sql(name='movie_list', con=engine, if_exists='append', index=False)