In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
There is no [mac64] chromedriver for browser 100.0.4896 in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_mac64.zip
Driver has been saved in cache [/Users/xanderpolny1/.wdm/drivers/chromedriver/mac64/100.0.4896.60]

In [2]:
url = 'https://www.rottentomatoes.com/browse/dvd-streaming-all?minTomato=0&maxTomato=100&services=amazon;hbo_go;itunes;netflix_iw;vudu;amazon_prime;fandango_now&genres=1;2;4;5;6;8;9;10;11;13;18;14&sortBy=release'
browser.visit(url)

In [3]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
movie_list = soup.find_all("div",class_="mb-movie")

In [6]:
len (movie_list)

32

In [9]:
movie_list[0].find("h3",class_="movieTitle").text

'Hurt'

In [11]:
movie_list[0].find("span",class_="tMeterScore").text

'67%'

In [12]:
movie_list[0]

<div class="mb-movie"><div class="poster_container"><a href="/m/hurt_2021" rel="noopener noreferrer" target="_blank"><img alt="Hurt" class="poster" src="https://resizing.flixster.com/g9KhgX4xQwQdZqapCqI4cclrnP4=/130x0/v1.bTsxMzk5MTQ2NTtqOzE5MTUxOzEyMDA7NzIwMDsxMDgwMA"/></a></div><div class="movie_info"><a href="/m/hurt_2021" rel="noopener noreferrer" target="_blank"><h3 class="movieTitle">Hurt</h3><div><span class="tMeterIcon tiny"><span class="icon tiny fresh"></span><!-- react-text: 238 -->Â <!-- /react-text --><span class="tMeterScore"><!-- react-text: 240 -->67<!-- /react-text --><!-- react-text: 241 -->%<!-- /react-text --></span></span></div><p class="release-date"><!-- react-text: 243 -->Available <!-- /react-text --><!-- react-text: 244 -->Dec 10<!-- /react-text --></p></a></div></div>

In [13]:
movie_list[0].find("p",class_="release-date").text

'Available Dec 10'

In [15]:
movie_list[0].find("a")["href"]

'/m/hurt_2021'

In [16]:
title = []
score = []
month_day = []
year = []
for movie in movie_list:
    title.append(movie.find("h3",class_="movieTitle").text)
    score.append(movie.find("span",class_="tMeterScore").text)
    month_day.append(movie.find("p",class_="release-date").text)
    year.append(movie.find("a")["href"])

In [17]:
title

['Hurt',
 'Benedetta',
 'Last Words',
 'Death of a Telemarketer',
 'Maybe This Year',
 'A Cops and Robbers Story',
 'Try Harder!',
 'President',
 'The Scary of Sixty-First',
 'Wheel of Fortune and Fantasy',
 'Sensation',
 'Red Snow',
 'June Again',
 'The Novice',
 'See For Me',
 'Together',
 'Even Mice Belong in Heaven',
 'The United States of Insanity',
 'Famous',
 'Lotawana',
 'Redeeming Love',
 'Salt in My Soul',
 'The Hating Game',
 'Fortress',
 'The Free Fall',
 'Shattered',
 'The Scrapper',
 'Joy Womack: The White Swan',
 'The Only One (Horse Latitudes)',
 'The Last Son',
 'The Legend of La Llorona',
 'The Laureate']

In [18]:
score

['67%',
 '86%',
 '40%',
 '13%',
 '78%',
 '67%',
 '97%',
 '92%',
 '57%',
 '99%',
 '13%',
 '75%',
 '100%',
 '92%',
 '78%',
 '71%',
 '100%',
 '100%',
 '100%',
 '100%',
 '11%',
 '100%',
 '71%',
 '20%',
 '57%',
 '19%',
 '86%',
 '100%',
 '80%',
 '25%',
 '8%',
 '60%']

In [19]:
title_test = pd.DataFrame(title)

In [20]:
title_test.head()

                         0
0                     Hurt
1                Benedetta
2               Last Words
3  Death of a Telemarketer
4          Maybe This Year

In [21]:
score_test = pd.DataFrame(score)

In [22]:
score_test.head()

     0
0  67%
1  86%
2  40%
3  13%
4  78%

In [24]:
monthday_test = pd.DataFrame(month_day)

In [25]:
monthday_test.head()

                  0
0  Available Dec 10
1  Available Dec 21
2  Available Dec 17
3   Available Dec 3
4   Available Dec 7

In [26]:
year_test = pd.DataFrame(year)
year_test.head()

                            0
0                /m/hurt_2021
1                /m/benedetta
2               /m/last_words
3  /m/death_of_a_telemarketer
4          /m/maybe_this_year